# Python
*.py
*.pyc
__pycache__/
*.pkl
*.npy
*.npz
env/
venv/

# Backend
backend/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Next.js build
.next/

# IDE
.vscode/
.idea/

# Env
.env.local
.env*.local
ml-service/.env
mobile/.env

# Expo
mobile/node_modules/
mobile/.expo/
